<div class="container-fluid bgimg">
    <div class="row" style="height: 100vh">
    <!-- Left Block quotes -->
    <div
      class="col d-flex text-light flex-column justify-content-center align-items-center"
    >
      <div class="h2">
        <fa-icon [icon]="faQuoteLeft" ></fa-icon> <br>
            404 <br> <em>Page Not Found.</em> 
        <div class="col d-flex justify-content-end">
          <h2><fa-icon [icon]="faQuoteRight" ></fa-icon></h2> 
        </div>
      </div>

      <div class="main-form">
        <div class="text-center">
          <button
            class="btn btn-block btn-primary mt-2 mb-2"
            routerLink="/main"
          >
            Go to Home 
          </button>
          </div>
      </div>
    </div>

    </div>
</div>