<div class="container-fluid bgimg">
  <div class="row" style="height: 100vh">
    <!-- Left Block quotes -->
    <div
      class="col text-light d-flex flex-column justify-content-center align-items-center"
    >
      <div class="h2">
        <fa-icon [icon]="faQuoteLeft" ></fa-icon> <br>
        <em>Attitute along with the right Gratitude, <br> takes you to the Altitude..</em>
        <div class="col d-flex justify-content-end">
          <h2><fa-icon [icon]="faQuoteRight" ></fa-icon></h2> 
        </div>
      </div>
    </div>

    <!-- Right Block-->
    <div
      class="col  d-flex flex-column justify-content-center align-items-center"
      [formGroup]="fbFormGroup"
    >
      <div class="alert alert-danger" role="alert" *ngIf="uiInvalidCredential">
        Invalid username or password!!
      </div>

      <div class="main-form">
      <div class="h1">Login Form</div>

      <div class="mt-4">
        <input
          type="text"
          placeholder="Enter Username"
          class="form-control"
          formControlName="username"
        />
      </div>

      <div class="mt-3">
        <input
          type="password"
          placeholder="Enter Password"
          class="form-control"
          formControlName="password"
        />
      </div>


      <div class="text-center">
      <button
        class="btn btn-block btn-primary mt-3 mb-2"
        [disabled]="!fbFormGroup.valid"
        (click)="submithere()"
      >
        LOGIN
      </button>
      </div>

      <div class="text-center">
      <button
        class="btn btn-block btn-primary mt-2 mb-2"
        routerLink="/register"
      >
        REGISTER
      </button>
      </div>
      </div>
      <div class="main-form ">
        <div class="text-center">
          <button
            class="btn btn-block btn-primary mt-2 mb-2"
            routerLink="/main"
          >
            Go to Home 
          </button>
          </div>
      </div>
    </div>
  </div>
</div>
