<div class="container-fluid ">
    <!--NAV BAR-->
    <div class="row sticky-top bg-secondary">
        <div class="col h4 text-light d-flex align-items-center">
            <fa-icon
              [icon]="faQuoteLeft"
              style="font-size: 28px; margin-right: 8px"
            ></fa-icon>
            Quote of the day
          </div>
        <div class="col d-flex justify-content-end bg-secondary" style="padding: 8px;">
         <button class="btn btn-secondary h2 text-light b" routerLink="/login" >Login</button>
            
        </div>
    </div>

    <div class="row justify-content-center align-items-center">
    
    <!--QOUTE OF THE  DAY IMG-->
    <div class="row justify-content-center">
       <img  src="assets/images/img1.jpg" alt="" style="height: 600px; width: 100%; background-repeat: cover;">
    </div>

    <div class="row justify-content-center align-items-center"><h2 class="h2">A new inspiring and memorable quote every day!</h2></div>
    <div>
        <div class="card-columns p-2 m-2">
            <div class="card">
              <img src="assets/images/img4.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">“People who are crazy enough to think they can change the world, are the ones who do.”</h5>
              </div>
            </div>
           
            <div class="card">
              <img src="assets/images/img2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">“ <b>A Negative Mind</b> will never give you <b>A Postive Life</b>”</h5>
                </div>
            </div>

            <div class="card">
                <img src="assets/images/img10.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">“We don't <b>"HAVE"</b> a great day, We <b>"MAKE IT"</b> a great day!”
                </h5>
                 </div>
              </div>

            <div class="card">
              <img src="assets/images/img10.jpg" class="card-img-top" alt="...">
            </div>

            <div class="card">
                <img src="assets/images/img2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">“ <b>A Negative Mind</b> will never give you <b>A Postive Life</b>”</h5>
                  </div>
            </div>
            
            <div class="card">
                <img src="assets/images/img3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">“The pessimist sees difficulty in every opportunity. The optimist sees the opportunity in every difficulty.”</h5>
                 </div>
            </div>
          </div>
    </div>
    <div class="row justify-content-center  ">
      <h1 class="h1">Go To Login </h1> <br>
    </div>
    <div class="row justify-content-center  ">
        <h1 class="h1">For More Quotes And Maintain Your Own Qoute Gallery</h1> <br>
    </div>
       <!--footer-->
       <div class="row bg-secondary" style="height: 15vh; width: 100%;">
        <div class="col-12 d-flex justify-content-center">
            <div class="row footer">Contact Us</div> 
        </div> 
        <div class="col-12 d-flex justify-content-center">
            <div class="row footer">Anjali Sonawane : 
                <p>EmailID: anjalisonawane.24@gmail.com</p>
            </div> 
        </div>
        <div class="col-12 d-flex justify-content-center">
            <div class="row footer">Anand Gujja : 
                <p>EmailID: anand.gujja.07@gmail.com</p>
            </div> 
        </div>   
</div>
</div>
    
