<div class="container-fluid ">
 
  <div class="row justify-content-center align-items-center">
  
  <!--QOUTE OF THE  DAY IMG-->
  <div class="row justify-content-center">
     <img  src="assets/images/img1.jpg" alt="" style="height: 600px; width: 100%; background-repeat: cover;">
  </div>

  <div class="row justify-content-center align-items-center"><h1 class="h1">Motivational Quotes</h1></div>
  <div>
      <div class="card-columns p-2 m-2">
          <div class="card">
            <img src="assets/images/img4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">“People who are crazy enough to think they can change the world, are the ones who do.”</h5>
            </div>
          </div>
         
          <div class="card">
            <img src="assets/images/img2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">“ <b>A Negative Mind</b> will never give you <b>A Postive Life</b>”</h5>
              </div>
          </div>

          <div class="card">
              <img src="assets/images/img10.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">“We don't <b>"HAVE"</b> a great day, We <b>"MAKE IT"</b> a great day!”
              </h5>
               </div>
            </div>

          <div class="card">
            <img src="assets/images/img10.jpg" class="card-img-top" alt="...">
          </div>

          <div class="card">
              <img src="assets/images/img2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">“ <b>A Negative Mind</b> will never give you <b>A Postive Life</b>”</h5>
                </div>
          </div>
          
          <div class="card">
              <img src="assets/images/img3.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">“The pessimist sees difficulty in every opportunity. The optimist sees the opportunity in every difficulty.”</h5>
               </div>
          </div>
        </div>
  </div>


  <div class="row justify-content-center align-items-center"><h1 class="h1">Inspirational Quotes</h1></div>
  <div>
      <div class="card-columns p-2 m-2">
          <div class="card">
            <img src="assets/images/img4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">“People who are crazy enough to think they can change the world, are the ones who do.”</h5>
            </div>
          </div>
         
          <div class="card">
            <img src="assets/images/img2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">“ <b>A Negative Mind</b> will never give you <b>A Postive Life</b>”</h5>
              </div>
          </div>

          <div class="card">
              <img src="assets/images/img10.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">“We don't <b>"HAVE"</b> a great day, We <b>"MAKE IT"</b> a great day!”
              </h5>
               </div>
            </div>

          <div class="card">
            <img src="assets/images/img10.jpg" class="card-img-top" alt="...">
          </div>

          <div class="card">
              <img src="assets/images/img2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">“ <b>A Negative Mind</b> will never give you <b>A Postive Life</b>”</h5>
                </div>
          </div>
          
          <div class="card">
              <img src="assets/images/img3.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">“The pessimist sees difficulty in every opportunity. The optimist sees the opportunity in every difficulty.”</h5>
               </div>
          </div>
        </div>
  </div>


  <div class="row justify-content-center align-items-center"><h1 class="h1">Life Quotes</h1></div>
  <div>
      <div class="card-columns p-2 m-2">
          <div class="card">
            <img src="assets/images/img4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">“People who are crazy enough to think they can change the world, are the ones who do.”</h5>
            </div>
          </div>
         
          <div class="card">
            <img src="assets/images/img2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">“ <b>A Negative Mind</b> will never give you <b>A Postive Life</b>”</h5>
              </div>
          </div>

          <div class="card">
              <img src="assets/images/img10.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">“We don't <b>"HAVE"</b> a great day, We <b>"MAKE IT"</b> a great day!”
              </h5>
               </div>
            </div>

          <div class="card">
            <img src="assets/images/img10.jpg" class="card-img-top" alt="...">
          </div>

          <div class="card">
              <img src="assets/images/img2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">“ <b>A Negative Mind</b> will never give you <b>A Postive Life</b>”</h5>
                </div>
          </div>
          
          <div class="card">
              <img src="assets/images/img3.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">“The pessimist sees difficulty in every opportunity. The optimist sees the opportunity in every difficulty.”</h5>
               </div>
          </div>
        </div>
  </div>
     <!--footer-->
     <div class="row bg-secondary" style="height: 15vh; width: 100%;">
      <div class="col-12 d-flex justify-content-center">
          <div class="row footer">Contact Us</div> 
      </div> 
      <div class="col-12 d-flex justify-content-center">
          <div class="row footer">Anjali Sonawane : 
              <p>EmailID: anjalisoanwane.24@gmail.com</p>
          </div> 
      </div>
      <div class="col-12 d-flex justify-content-center">
          <div class="row footer">Anand Gujja : 
              <p>EmailID: anand.gujja.07@gmail.com</p>
          </div> 
      </div>   
</div>
</div>